{% comment %}
@param menu LinkedList
@param depth Number
@param is_submenu Boolean

@param aria_expanded Bool
a11y helper

@param sub_menu_title String
Menu title must be passed if is submenu
{% endcomment %}

{% assign menu_title = false %}
{% if is_submenu %}
  {% assign menu_title = sub_menu_title %}
{% else %}
  {% assign menu_title = linklists[menu].title %}
{% endif %}

{% if linklists[menu] %}
  <div class="navigation-menu-outer navigation-menu">
    <ul class="navigation-menu navigation-primary-list parentmenu_{{ menu_title | handleize }} megamenu-wrap" {% if menu_title %}aria-label="{{ menu_title }}"{% endif %}>

        {% for link in linklists[menu].links %}
        {%- assign outerLoopIndex = forloop.index -%}
        {% assign submenu = link.title | handle %}
        {% assign d = depth | minus: 1 %}
          {% if d > 0 and link and link.links.size > 0 %}
          <li class="navigation-primary-item navigation-parent-item menuitem_{{ forloop.index }}">
              {% if forloop.first %}
                  {%
                          include 'main-navigation-submenu-icon',
                          menu: submenu,
                          depth: d,
                          sub_menu_title: link.title,
                          aria_expanded: aria_expanded %}
              {% else %}
                  <a
                          class="navigation-parent-link"
                          href="{{ link.url }}"
                  {% if aria_expanded %}
                      aria-expanded="true"
                  {% else %}
                      aria-haspopup="true"
                      aria-expanded="false"
                          {% endif %}>{{ link.title }}</a>
                  {%
                          include 'main-navigation-submenu',
                          menu: submenu,
                          depth: d,
                          sub_menu_title: link.title,
                          aria_expanded: aria_expanded %}
              {% endif %}
          </li>
        {% else %}
              <li class="navigation-primary-item menuitem_{{ forloop.index }}">
                  <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
<script>
    document.querySelectorAll('.bundle-button').forEach((button) => {
        button.addEventListener('click', () => {
            const products = button.getAttribute('data-products').split(',');

            const cartItems = products.map((productId) => ({
                id: productId,
                quantity: 1
            }));

            fetch('/cart/add.js', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    items: cartItems,
                }),
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error('Failed to add products to cart');
                    }
                    return response.json();
                })
                .then(() => {
                    console.log('Products added to cart');
                    window.location.href = window.location.href.split('?')[0] + '?open_cart=true';
                })
                .catch((error) => {
                    console.error('Error adding products to cart:', error);
                });
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('open_cart') === 'true') {
            setTimeout(() => {
               document.querySelector('.main-sidebar-tool-item-cart.cart-full a').click();
            }, 1000);

            const newUrl = window.location.href.split('?')[0];
            window.history.replaceState(null, '', newUrl);
        }
    });


</script>
<style>
    .custom_menu_with_bundle {
        padding: 20px;
    }
    .custom_menu_with_bundle .navigation-primary-item {
        width: 100%;
        display: flex !important;
        flex-direction: row;
        margin-bottom: 20px;
        align-items: center;
        justify-content: flex-start;
    }
    .custom_menu_with_bundle .navigation-primary-item a {
        margin-bottom: 0 !important;
        margin-left: 20px !important;
        font-size: 26px !important;
        font-weight: 600 !important;
    }
    .navigation-primary-item img {
        width: 50px;
        height: 50px;
    }
    .navigation-primary-list {
        column-count: 1;
    }
    .bundles-wrap {
        text-align: left;
        margin: 0;
        padding: 0;
    }
    .bundles-wrap h2 {
        margin-top: 10px !important;
        margin-bottom: 20px;
        font-weight: 500;
        text-transform: none;
    }
    .custom_menu_with_bundle {
        display: flex;
        flex-direction: row;
        gap: 120px;
    }
    .bundles-container {
        display: flex;
        width: 555px;
        gap: 20px;
        justify-content: center;
    }

    .bundle-card {
        border-radius: 10px;
        text-align: left;
        max-width: 300px;
        transition: transform 0.2s ease-in-out;
    }


    .bundle-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        width: 100%;
        height: auto;
    }

    .bundle-image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .bundle-title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .bundle-description {
        font-size: 15px;
        margin-bottom: 10px;
        text-transform: none;
    }

    .bundle-price {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .bundle-button {
        background-color: black;
        color: white;
        border: none;
        padding: 10px 20px;
        font-weight: 500;
        width: 100%;
        font-size: 18px;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }

    .bundle-button:hover {
        background-color: #444;
    }
    @media (max-width: 990px) {
        .navigation-primary-item img {
            width: 35px;
            height: 35px;
        }
        .custom_menu_with_bundle .navigation-primary-item a {
            margin-bottom: 0 !important;
            margin-left: 20px !important;
            font-size: 14px !important;
            line-height: 30px;
            font-weight: 600 !important;
        }
        .navigation-menu .custom_menu_with_bundle .navigation-primary-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px 40px;
            justify-content: start;
            margin: 0;
            padding: 0;
        }

        .custom_menu_with_bundle .navigation-primary-item {
            display: flex;
            align-items: center;
            gap: 10px;
            text-align: left;
            width: auto;
        }

        .custom_menu_with_bundle .navigation-primary-item img {
            width: 40px;
            height: 40px;
        }

        .custom_menu_with_bundle .navigation-primary-item span {
            font-size: 14px;
            font-weight: bold;
            color: #000;
        }

        .custom_menu_with_bundle {
            padding: 0;
        }
        .navigation-menu.navigation-primary-list.parentmenu_shop.megamenu-wrap {
            margin-left: 0;
        }
        .custom_menu_with_bundle .navigation-primary-item a {
            margin-left: 0 !important;
        }
        .bundles-wrap {
            display: none;
        }
        .navigation-parent-item.menuitem_1 {
            ul.navigation-menu {
                column-count: 2;
            }
        }
    }
</style>

