{%- capture social_media_links -%}
  {% assign social_media_accounts = "facebook|instagram|youtube|twitter|pinterest|tiktok|vimeo|email|rss" | split: "|" %}
  {%- for account in social_media_accounts -%}
    {% capture account_setting %}social_{{ account }}_{% unless account == 'email' %}url{% else %}address{% endunless %}
    {% endcapture %}
    {% assign account_setting = account_setting | strip %}
    {% assign url = settings[account_setting] %}
    {%- if url != blank -%}
      <li class="navigation-social-item">
        <a
          class="navigation-social-item-link"
          href="{% if account == 'email' %}mailto:{% endif %}{{ url }}"
          title="{{ account | capitalize }}"
          {% unless account == 'email' %}target="_blank"rel="noreferrer, noopener"{% endunless %}>
          {% render 'social-icon' name: account %}
          <span class="d-none">{{ account }}</span>
        </a>
      </li>
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{% assign social_media_links = social_media_links | strip_newlines %}

{% if social_media_links != blank %}
  <div class="main-navigation-social-links">
    <ul>
      {{ social_media_links }}
    </ul>
  </div>
{% endif %}