{% comment %}

  @param item Product
         The product to display.

  @param placeholder String
         If set, use a Shopify placeholder SVG as the product image.

  @param title String
         The product title to use. Only used if no `item` is passed.

{% endcomment %}

{% assign image_size = '1024x' %}
{% assign placeholder_style = placeholder | default: 'image' %}
{% assign crop_image = nil %}
{% if section.settings.product_grid_image_crop %}
  {% assign crop_image = 'center' %}
{% endif %}

{% if item.featured_media %}
  {%- capture background_style -%}
    {%
      include 'rimg',
      img: item.featured_media.preview_image,
      size: image_size,
      crop: crop_image,
      lazy: true,
      background: true
    %}
  {%- endcapture -%}
{% else %}
  {%- capture placeholder_uri -%}
    {%-
      include 'placeholder_svg_uri',
      placeholder: placeholder_style
    -%}
  {%- endcapture -%}
  {%- capture background_style -%}
    style="background-image: url('{{ placeholder_uri }}');"
  {%- endcapture -%}
{% endif %}

<a class="recommended-product" href="{{ product.url | default: '#' }}">
  {% include 'product-badge' %}
    <figure
      class="
        product-list-item-thumbnail
        {% unless product.featured_media %}
          product-list-item-thumbnail-placeholder
        {% endunless %}
      "
    >
      {% if product.featured_media.preview_image %}
        {%
          include 'rimg',
          img: product.featured_media.preview_image,
          size: image_size,
          crop: crop_image,
          lazy: true,
          class: recommended-product-image
        %}
      {% else %}
        <img loading="lazy"
          src="{{ placeholder_uri }}"
          alt="{{ title | default: product.title | escape }}"
          class="recommended-product-image"
        >
      {% endif %}
    </figure>

      <div class="recommended-product-desc {% if product.price %}has-price{% endif %}">
        <h3 class="recommended-product-title">
          {% if product.metafields.global.plp_title %}
          {{ product.metafields.global.plp_title | remove: " Pads" }}
          {% else %}
            {{ product.title }}
          {% endif %}
        </h3>
        {% render 'okendo-reviews-product-rating-summary', product: product %}
         {% if product.metafields.global.short_description %}
          <div class="recommended-short-desc">
            {{ product.metafields.global.short_description }}
          </div>
        {% else %}
          <div class="recommended-short-desc">
            {{ variant.metafields.global.short_description }}
          </div>
        {% endif %}

          <span class="price product-list-item-price">
            {% if product.price_varies %}{{ 'products.product.from' | t }}{% endif %}
            <span data-money>{{ product.price | money }}</span>
          </span>
      </div>
</a>