{% include 'shogun-content-handler' %}
{% capture content %}<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">

<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=DC-14554057"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'DC-14554057');
</script>
<!-- Google Tag Manager --> <script> (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s);j.async=true;j.src="https://t.attngrace.com/gfpqtsnnebk.js?"+i;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','Sd=aWQ9R1RNLTVYVjJEUk0%3D&sort=asc'); </script> <!-- End Google Tag Manager -->

  <script>eval(function (e, t, n, a, r, o) {
		if (r = function (e) {
			return (e < t ? "" : r(parseInt(e / t))) + (35 < (e %= t) ? String.fromCharCode(e + 29) : e.toString(36))
		}, !"".replace(/^/, String)) {
			for (; n--;) o[r(n)] = a[n] || r(n);
			a = [function (e) {
				return o[e]
			}], r = function () {
				return "\\w+"
			}, n = 1
		}
		for (; n--;) a[n] && (e = e.replace(new RegExp("\\b" + r(n) + "\\b", "g"), a[n]));
		return e
	}('l(r.O=="P y"){i j=[],s=[];u Q(a,b=R){S c;T(...d)=>{U(c),c=V(()=>a.W(X,d),b)}}2.m="Y"+(2.z||"")+"Z";2.A="10"+(2.z||"")+"11";12{i a=r[2.m],e=r[2.A];2.k=(e.B(\'y\')>-1&&a.B(\'13\')<0),2.m="!1",c=C}14(d){2.k=!1;i c=C;2.m="!1"}2.k=k;l(k)i v=D E(e=>{e.8(({F:e})=>{e.8(e=>{1===e.5&&"G"===e.6&&(e.4("n","o"),e.4("f-3",e.3),e.g("3")),1===e.5&&"H"===e.6&&++p>q&&e.4("n","o"),1===e.5&&"I"===e.6&&j.w&&j.8(t=>{e.7.h(t)&&(e.4("f-7",e.7),e.g("7"))}),1===e.5&&"J"===e.6&&(e.4("f-3",e.3),e.g("3"),e.15="16/17")})})}),p=0,q=K;18 i v=D E(e=>{e.8(({F:e})=>{e.8(e=>{1===e.5&&"G"===e.6&&(e.4("n","o"),e.4("f-3",e.3),e.g("3")),1===e.5&&"H"===e.6&&++p>q&&e.4("n","o"),1===e.5&&"I"===e.6&&j.w&&j.8(t=>{e.7.h(t)&&(e.4("f-7",e.7),e.g("7"))}),1===e.5&&"J"===e.6&&(s.w&&s.8(t=>{e.3.h(t)&&(e.4("f-3",e.3),e.g("3"))}),e.9.h("x")&&(e.9=e.9.L("l(2.M)","N.19(\'1a\',u(1b){x();});l(2.M)").1c(", x",", u(){}")),(e.9.h("1d")||e.9.h("1e"))&&(e.9=e.9.L("1f","1g")))})})}),p=0,q=K;v.1h(N.1i,{1j:!0,1k:!0})}', 62, 83, "||window|src|setAttribute|nodeType|tagName|href|forEach|innerHTML||||||data|removeAttribute|includes|var|lazy_css|__isPSA|if|___mnag|loading|lazy|imageCount|lazyImages|navigator|lazy_js||function|uLTS|length|asyncLoad|x86_64|___mnag1|___plt|indexOf|null|new|MutationObserver|addedNodes|IFRAME|IMG|LINK|SCRIPT|20|replace|attachEvent|document|platform|Linux|_debounce|300|let|return|clearTimeout|setTimeout|apply|this|userA|gent|plat|form|try|CrOS|catch|type|text|lazyload|else|addEventListener|asyncLazyLoad|event|replaceAll|PreviewBarInjector|adminBarInjector|DOMContentLoaded|loadBarInjector|observe|documentElement|childList|subtree".split("|"), 0, {}))</script>

  	<!-- Added by AVADA SEO Suite -->
	{% include 'avada-seo' %}
	<!-- /Added by AVADA SEO Suite -->
  {% comment %}
	{% render 'pandectes-rules' %}
	{% endcomment %}

	  {{ 'theme.scss.css' | asset_url | stylesheet_tag: preload: true}}
  {{ 'vogue.js' | asset_url | preload_tag: as: 'script' }}
  <link rel="preload" href="{{ 'slick.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'blowup.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'jquery.jfontsize.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'custom.js' | asset_url }}" as="script">
  <link href="https://d3hw6dc1ow8pp2.cloudfront.net/styles/main.min.css" as="style">
  
{% if request.path == '/collections' %}
<script>
window.location.href = "https://attngrace.com/collections/shop-all"
</script>
{% endif %}
<script aѕync>
/* >> TriplePixel :: start*/
~function(W,H,A,L,E){try{A.setItem(H,1+(0|A.getItem(H)||0)),W.includes("⇈")&&A.setItem(H+"Stg",1+(0|A.getItem(H+"Stg")||0))}catch(e){}function O(T,R){void 0===R&&(R=!1),H=new XMLHttpRequest,H.open("GET","//triplewhale-pixel.web.app/triplepx.txt?"+~(Date.now()/9e7),!0),H.send(null),H.onreadystatechange=function(){4===H.readyState&&200===H.status?setTimeout(function(){return eval(H.responseText)},50):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(T-1))}}A=window,A[H]||(L=function(){return"tp.."+Date.now().toString(36)+Math.random().toString(36)},E=A[H]=function(t,e,n){return W=L(),(E._q=E._q||[]).push([W,e,n]),W},E.ch=W,O(5))}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>

{% if request.path == '/collections/bundles/sample-pack' %}
  <meta name="robots" content="noindex">
{% endif %}

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="p:domain_verify" content="c15e7a7e83ce7d7009fe40f6e5a4ed9a"/>
  <!-- <meta name=“google-site-verification” content=“Qdmpd8VVK78iUD9p-XJeYtHN1uIuOr0NCLH_OyTyF00" /> -->
  <meta name="google-site-verification" content="Oy4YjWPqCz9IyTcsRmBqH8m2Dch3do49KUPL2MNo8OE" />
  <script aѕync src="//b-code.liadm.com/a-07qe.min.js" async="true" charset="utf-8"></script>

  <title>
    {%- if page_title -%}
      {{- page_title -}}

      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %}
        {{ 'general.title.tags' | t: tags: meta_tags -}}
      {%- endif -%}

      {%- if current_page != 1 -%}
        {{- 'general.title.page' | t: page: current_page -}}
      {%- endif -%}

      {%- unless page_title contains shop.name -%}
        {{- 'general.title.shop' | t: shop: shop.name -}}
      {%- endunless -%}
    {%- else -%}
      {{- shop.name -}}
    {%- endif -%}
  </title>
  {% include 'structured-data' %}

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}
  {% include 'favicon' %}

  {% if template contains 'collection' and current_tags %}
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}
  
  {% assign product_tags_string = product.tags | join ' ' %}
  {% if product_tags_string contains 'index:noindex' %}
  	<meta name="robots" content="NOINDEX,NOFOLLOW"/>
  {% endif %}

  <meta name="viewport" content="width=device-width" />

  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

  {% render 'treedify' %}
  {{ content_for_header }}

  {% assign twitter_handle = settings.social_twitter_url | split: 'twitter.com/' | last %}
  {%
    include 'social-meta-tags',
    twitter_handle: twitter_handle
  %}

  <!-- Theme CSS -->
  {{ 'custom.css' | asset_url | stylesheet_tag: preload: true }}

  {% if template == "product" or template == "page.find.specialist" or template == "product.ultimate" %}
    {{ 'jquery.min.js' | asset_url | script_tag }}
  {% endif %}
  <!-- Theme object -->
  {% include 'theme-options' %}
  <script aѕync src="https://www.dwin1.com/19038.js" type="text/javascript" defer="defer"></script>

  <!-- Start of Littledata - Fix Google Analytics Script-->
  {% include 'LittledataLayer' %}
  <!-- End of Littledata - Fix Google Analytics Script -->

  {% render 'shogun-head' %}
  
  
  <script id="ft-2c6c6a69f7ae11b7f45d94261c34703e" aѕync data-type="application/javascript" >
      !function(w,d,e,u,t,s){if(w.ft_data){return;}
          t=d.createElement(e);t.async=!0;t.src=u;
          s=d.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)
      }(window,document,'script','https://curated.fieldtest.cc/t/ATTG/attg_unvpx.js');
  </script>

  <script aѕync src="//b-code.liadm.com/a-00xx.min.js" async="true" charset="utf-8"></script>

  <!-- Clarity Start -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "fjzagomlec");
  </script>
  <!-- Clarity End -->
  {{ 'okendo-reviews.css' | asset_url | stylesheet_tag: preload: true }}
  {% if template == page.listicle %}

   {{ 'style3l.css' | asset_url | stylesheet_tag }} 
   
  {% endif %}
<style>
  @font-face {
    font-family: "BentonModDisp";
    src: url("{{ 'BentonModDisp-Regular.ttf' | asset_url }}") format("truetype");
    font-weight: 400;
    font-style: normal;
     font-display: swap;
  }
  @font-face {
    font-family: "BentonModDisp";
    src: url("{{ 'BentonModDisp-Bold.otf' | asset_url }}") format("truetype");
    font-weight: 700;
    font-style: normal;
     font-display: swap;
  }
  @font-face {
    font-family: 'BentonModDisp';
    src: url('{{'BentonModDisp-Semibold.woff2' | asset_url }}) format('woff2'),
         url('{{'BentonModDisp-Semibold.woff' | asset_url }}) format('woff'),
         url('{{'BentonModDisp-Semibold.ttf' | asset_url }}) format('truetype');
    font-weight: 600;
    font-style: normal;
     font-display: swap;
}
  @font-face {
    font-family: "Acre";
    src: url("{{ 'acre-regular.ttf' | asset_url }}") format("truetype");
    font-weight: normal;
    font-style: normal;
     font-display: swap;
  }
  @font-face {
    font-family: "Acre";
    src: url("{{ 'Acre-Medium.ttf' | asset_url }}") format("truetype");
    font-weight: 500;
    font-style: normal;
     font-display: swap;
  }
  @font-face {
    font-family: "Acre";
    src: url("{{ 'acre-semibold.ttf' | asset_url }}") format("truetype");
    font-weight: 600;
    font-style: normal;
     font-display: swap;
  }
  @font-face {
    font-family: "Acre";
    src: url("{{ 'acre-bold.ttf' | asset_url }}") format("truetype");
    font-weight: 700;
    font-style: normal;
     font-display: swap;
  }
</style>
  <script async src="{{ 'avada-cookiebar-gcm-integration.js' | asset_url }}"></script>

</head>


<body class="sidebar-always-visible {% include 'body-classes' %} {{template | replace: ".", "" }} product-single">


  <!--APPHQ-->
    <script>
    window.RechargeBundle = {
    onAddToCart: () => {
    window.SLIDECART_OPEN();
    window.SLIDECART_UPDATE();
    }
    }
</script>
    <!-- END APPHQ -->

  <!--PIXEL-->
  <img src="https://mpp.mxptint.net/2/37156/?rnd=%n" width="0" height="0" style="display:none" />
  <!-- END PIXEL --> 
  <!--
Event snippet for HomePage_GeneralSite_08082024 on https://attngrace.com/: Please do not remove.
Place this snippet on pages with events you’re tracking. 
Creation date: 08/14/2024
-->
<script>
  gtag('event', 'conversion', {
    'allow_custom_scripts': true,
    'send_to': 'DC-14554057/attng000/homep0+standard'
  });
</script>
<noscript>
<img src="https://ad.doubleclick.net/ddm/activity/src=14554057;type=attng000;cat=homep0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?" width="1" height="1" alt=""/>
</noscript>
<!-- End of event snippet: Please do not remove -->

  
  <!-- <script aѕync>!function(){window.SLIDECART=!0;window.SLIDECART_FORMAT='{{shop.money_format}}';var e="https://cdn.jsdelivr.net/gh/apphq/slidecart-dist@latest/slidecarthq.js?"+(new Date).getTime(),t=document.createElement("script");t.type="text/javascript",t.async=true,t.src=e,document.querySelector("body").appendChild(t)}();</script> -->
  <script>
    let wipesVariantId = 32700968468619;
    let minQty = 4;
    
    window.SLIDECART_UPDATED = (cart) => {
      let hasWipesProd = cart.items.find(itm => itm.id == wipesVariantId);
      if(!hasWipesProd) return;

      hasWipesProd.quantity <= minQty ? toggleMinusAndQtyInput(hasWipesProd.id, false) :toggleMinusAndQtyInput(hasWipesProd.id, true);
    }

    function toggleMinusAndQtyInput(id, show)  {
      document.querySelectorAll(`
        .slidecarthq .item[data-variant-id="${id}"] .quantity-selector button:first-of-type,
        .slidecarthq .item[data-variant-id="${id}"] .quantity-selector button:first-of-type *,
        .slidecarthq .item[data-variant-id="${id}"] .quantity-selector input
        `).forEach(elm => {
        elm.style.pointerEvents = show ? "auto" : "none";
        elm.style.opacity = show ? "1" : "0.4";
      });
    }
  </script>


  {% include 'svg-sprite' %}

  <div id="custom_shipping_bar">
    {% section 'shipping-bar' %}
  </div>

  {% section 'top-banner' %}
  {% section 'header' %}

  <div class="content-wrapper">
    <div class="main-content">
      {% unless template.suffix == "uvt" or template contains 'page' or page.handle == 'laura-manfield-goodridge' %}
      	{% render 'breadcrumbs' %}
      {% endunless %}

      {% if template contains 'page' %}
        {% if page.handle == 'laura-manfield-goodridge' %}
          <div class="breadcrumb" role="navigation" aria-label="breadcrumbs">
            <div class="breadcrumb-item">
              <a href="/" title="Home">Home</a>

              <span class="icon" aria-hidden="true">&gt;</span>
              <span>Resource Library</span>
              <span class="icon" aria-hidden="true">&gt;</span>
              <span>Pelvic Health Therapists</span>
              <span class="icon" aria-hidden="true">&gt;</span>
              <span>Laura Manfield Goodridge</span>

            </div>
          </div>
        {% else %}
          {% if page.metafields.breadcrumb.Text-1.value != blank %}
            <div class="breadcrumb" role="navigation" aria-label="breadcrumbs">
              <div class="breadcrumb-item">
                <a href="/" title="Home">Home</a>

                <span class="icon" aria-hidden="true">&gt;</span>
                {% if page.metafields.breadcrumb.link-1.value != blank %}
                <a class="bdb_link" href="{{ page.metafields.breadcrumb.link-1.value }}" title="{{ page.metafields.breadcrumb.Text-1.value }}">{{ page.metafields.breadcrumb.Text-1.value }}</a>
                {% else %}
                <span>{{ page.metafields.breadcrumb.Text-1.value }}</span>
                {% endif %}
                
                {% if page.metafields.breadcrumb.Text-2.value != blank %}
                <span class="icon" aria-hidden="true">&gt;</span>
                  {% if page.metafields.breadcrumb.link-2.value != blank %}
                  <a class="bdb_link" href="{{ page.metafields.breadcrumb.link-2.value }}" title="{{ page.metafields.breadcrumb.Text-2.value }}">{{ page.metafields.breadcrumb.Text-2.value }}</a>
                  {% else %}
                  <span>{{ page.metafields.breadcrumb.Text-2.value }}</span>
                  {% endif %}
                {% endif %}
                
                {% if page.metafields.breadcrumb.Text-3.value != blank %}
                <span class="icon" aria-hidden="true">&gt;</span>
                  {% if page.metafields.breadcrumb.link-3.value != blank %}
                  <a class="bdb_link" href="{{ page.metafields.breadcrumb.link-3.value }}" title="{{ page.metafields.breadcrumb.Text-3.value }}">{{ page.metafields.breadcrumb.Text-3.value }}</a>
                  {% else %}
                  <span>{{ page.metafields.breadcrumb.Text-3.value }}</span>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          {% else %}
            {% render 'breadcrumbs' %}
          {% endif %}
        {% endif %}
      {% endif %}

      {{ content_for_layout }}
	<noscript class="endOfLayoutContentX" type="text/mark"></noscript>{% render 'treedify_script' %}

      {% section 'footer' %}
    </div>

    <div class="content-overlay"></div>
  </div>
  
  {% include 'global-datalayer' %}
  {% include 'social-share' %}
  {% include 'footer-scripts' %}
  
  {% if template.name == "product" %}
    <script>
        $('.increaseQty').click(function () {
            $("#qty").val(+parseInt($("#qty").val()) + 1);
        });

        $('.decreaseQty').click(function () {
            if ($("#qty").val() > 1) {
                $("#qty").val(+parseInt($("#qty").val()) - 1);
            }
        });
    </script>
  {% endif %}
  

  <script aѕync>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"11041558"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
  {% include 'smile-initializer' %}

  {% if template contains 'product' %}
    {% include 'slide-upsell' %}
  {% endif %}
  <style>
  /* Your custom CSS here */
    .rb-img {
      background-color: #E9E9E9 !important; /* Sets the background color */
  }
  /* Add border and rounded corners to the parent wrapper */
  .rb-qty-wrapper {
      border: 1px solid black; /* Adjust thickness/color as needed */
      border-radius: 25px; /* Adjust rounding as needed */
      display: flex; /* Ensure it's a flex container */
      justify-content: space-between; /* Align children to edges */
      padding: 2; 
  }
  .rb-btn.rb-btn-qty.rb-btn-qty-minus, .rb-btn.rb-btn-qty.rb-btn-qty-plus {
    background-color: transparent !important;
    font-size: 30px !important; /* Your preference */
    color: black !important;
    border: none !important;
    padding: 1 5px; /* Adjust padding as needed, but keep it minimal */
    line-height: 1;
  }
    /* Remove borders from the specific input elements */
  .rb-input.tw3.ttc.tmb0 {
      border: none !important; /* Removes border */
  }
</style>
  {% render 'data-layer-events' %}
<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.js"></script>
{% include 'appikon-discounts' %}
<!-- Hotjar Tracking Code for Site 5092069 (name missing) -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:5092069,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          const productData = {
          {% assign collection_for_card = collections['collection-for-card'] %}
          {% for product in collection_for_card.products %}
          {% if product.metafields.custom.slider_products != blank %}
          {{ product.id }}:
          {
              {% for value in product.metafields.custom.slider_products.value %}
              {% if forloop.first %}

                  slide_product_id: '{{ value.product_for_slide.value.first_available_variant.id }}',
                  slide_product_title: '{{ value.product_for_slide.value.title }}',
                  slide_product_price: '{{ value.product_for_slide.value.price | money }}',
                  slide_image: '{{ value.image_for_product | img_url }}',
                  cart_title: '{{ value.cart_title }}',
                  cart_subtitle: '{{ value.cart_subtitle }}',
                  review_author: '{{ value.review_autor }}',
                  review_rating: '{{ value.review_rating }}',
                  review_title: '{{ value.review_title }}',
              review_text: '{{ value.review_text_short |  }}'

              {% endif %}
              {% endfor %}
          }
          {% unless forloop.last %},{% endunless %}
          {% endif %}
          {% endfor %}
      };
          console.log(productData)
          window.productData = productData;
      });
  </script>
</body>
<!-- Back in Stock helper snippet -->
{% render 'back-in-stock-helper' %}
<!-- End Back in Stock helper snippet -->


</html>
{% endcapture %}
{% assign content = content %}
{%- if is_optimized -%}{% include 'speeditt_labs' %}{%- endif -%}
{% for html in content %}
  {% assign htmlblock = html %}
  {{ htmlblock }}
{% endfor %}


<style>
    @media(max-width: 450px) {
        #okendo-reviews-widget-wrapper{
            padding-top: 0 !important;
        }
        .newslatter-content-wrapper {
            position: absolute;
            bottom: 60px;
        }
        #shopify-section-footer {
            margin-top: 100px !important;
        }
    }

</style>
{% if template == 'index' %}
    <style>
        @media(max-width: 450px) {
            .testimonials-section {
                padding-top: 0 !important;
                padding-bottom: 40px !important;
            }
            .featured-collection-wrapper {
                padding-bottom: 0 !important;
            }
        }
    </style>
{% endif %}
{% if template == "product.ultimate" or template == "page.qr-code" %}
    <style>
        @media(max-width: 450px) {
            #shopify-section-footer {
                margin-top: 0 !important;
            }
        }
    </style>
{% endif %}



