<section class="secret">
  <div class='center-wrapper'>
      <h2 class="secret__title">{{section.settings.heading}}</h2>
      <div class="secret__desc">{{section.settings.subheading}}</div>                
      <div class="secret__row">
          <div class="secret__col">
              <div class="secret-item">
                  <div class="secret-item__label secret-item__label_1">Dry 💃</div>
                  <div class="secret-item__image">
                      {{section.settings.image1 | img_url : 'master' | img_tag }}
                      <span>{{section.settings.image11 | img_url : 'master' | img_tag }}</span>
                  </div>
                  <a href="#" class="secret-item__title">
                    <svg width="65" height="72" viewBox="0 0 65 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.6511 31.7035C25.5392 34.6715 28.8628 36.6628 32.6812 36.669C36.5473 36.6752 39.9074 34.6421 41.792 31.6187C42.0528 31.3707 42.4273 30.5289 42.4647 30.4026C43.0524 29.1009 43.3938 27.6682 43.3966 26.1515C43.4005 23.705 42.5229 21.4809 41.1044 19.6906C38.7541 15.3438 34.8196 10.3365 31.9755 0.703125C27.7189 13.8519 23.3104 18.2045 22.3703 23.531C22.1543 24.3624 22.004 25.219 22.0025 26.1163C21.9997 27.6915 22.3722 29.1722 22.9993 30.5149C23.1011 30.8605 23.4571 31.6427 23.6511 31.7035Z" fill="white"/>
                    <path d="M32.1324 60.6211C25.1108 46.5921 11.9586 38.1117 0.017853 39.6427C-0.554105 55.6212 12.6698 71.8139 32.0679 71.6171C53.6694 71.3978 64.6451 53.9743 64.1349 39.165C49.2884 40.5295 37.7895 46.1652 32.1324 60.6211Z" fill="white"/>
                    </svg>
                     <span>Attn: Grace</span></a>
              </div>
          </div>
          <div class="secret__col">
              <div class="secret-item">
                  <div class="secret-item__label secret-item__label_2">Leaking 😢</div>
                  <div class="secret-item__image">
                    {{section.settings.image2 | img_url : 'master' | img_tag }}
                      <span>{{section.settings.image22 | img_url : 'master' | img_tag }}</span>
                  </div>
                  <div class="secret-item__title">Other Brands</div>
              </div>
          </div>
      </div>
      <div class="get-discount">
          <a href="{{section.settings.btn-link}}" class="get-discount__btn btn">{{section.settings.btn-label}}</a>
          <div class="get-discount__note">{{section.settings.subtext}}</div>
      </div>
  </div>
</section>

{% schema %}
  {
    "name": "Final3 Secret",
    "settings" : [
      {
        "type" : "image_picker",
        "id" : "image1",
        "label" : "Image"
      },
      {
        "type" : "image_picker",
        "id" : "image11",
        "label" : "Image"
      },
      {
        "type" : "image_picker",
        "id" : "image2",
        "label" : "Image"
      },
      {
        "type" : "image_picker",
        "id" : "image22",
        "label" : "Image"
      },
      {
        "type" : "html",
        "id" : "heading",
        "label" : "Heading",
        "default" : "Our <span>SECRET</span> to keeping you <span>DRY</span>"
      },
      {
        "type" : "text",
        "id" : "subheading",
        "label" : "SubHeading",
        "default" : "Pads don’t just have to ABSORB leaks, they have to RETAIN the leaks once they’re absorbed. Attn: Grace pads and briefs absorb leaks quickly AND keep them locked away, even when soaked to capacity, so that you stay dry."
      },
      {
        "type" : "richtext",
        "id" : "text",
        "label" : "Text",
        "default" : "<p>Our bladder leak pads are changing the game, beating the competition when it comes to keeping you dry, protecting your skin and caring for our planet. Keep scrolling to see how!</p>"
      },
       {
            "type" : "text",
            "id" : "btn-label",
            "label" : "Button Label",
            "default"   : "GET 30% OFF YOUR FIRST ORDER*"
        },
        {
            "type" : "url",
            "id" : "btn-link",
            "label" : "Button Link"
        },
        {
          "type" : "text",
          "id" : "subtext",
          "label" : "SubText",
          "default" : "*Discount automatically applied at checkout"
        }
       
    ]
    
  }
{% endschema %}