<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="page-blog"
>
</script>


<div class="contained">
  <header class="blog-header">
    <h1 class="page-title">
        {{ section.settings.blog_heading | escape }}
    </h1>
    {% if section.settings.show_rss_link %}
      <a href="{{ blog.url }}.atom" class="blog-rss-link">{{ 'blogs.blog.subscribe' | t }}</a>
    {% endif %}
    <p>{{ section.settings.blog_description | escape }}</p>
  </header>

  {% if blog.all_tags.size > 0 and section.settings.show_tags %}
    {% include 'tags-list' with blog %}
  {% endif %}

  {% paginate blog.articles by section.settings.pagination %}

    <div class="blog-posts" id="blog-posts">
      <div class="article-item-grid-sizer"></div>
      <div class="article-item-gutter-sizer"></div>
      {% for article in blog.articles %}
        {% include 'article-list-item' %}
      {% else %}
        <p class="empty">
          {{ 'blogs.blog.empty' | t }}
        </p>
      {% endfor %}
    </div>

    {% if paginate.previous or paginate.next %}
      {% include 'pagination' %}
    {% endif %}

  {% endpaginate %}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
<script>
$(window).load(function(){
  var container = document.querySelector('#blog-posts');
  var msnry = new Masonry( container, {
    itemSelector: '.article-item',
    columnWidth: '.article-item-grid-sizer',
    gutter: '.article-item-gutter-sizer',
    percentPosition: true
  })
});
</script>

{% schema %}
{
  "name": "Blog page",
  "settings": [
    {
      "type": "range",
      "id": "pagination",
      "label": "Articles per page",
      "min": 4,
      "max": 24,
      "step": 2,
      "default": 8
    },
    {
      "type": "text",
      "id": "blog_heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "blog_description",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "view_post_images",
      "label": "Artical Image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show blog excerpt",
      "default": true
    }
  ]
}

{% endschema %}