{% unless page.metafields.specialist.address != blank %}
<div class="page-content page-full-width">
  <h1 class="page-title">{{ page.title }}</h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

<script type="text/javascript">
  $("body").addClass('full-width-template');
</script>

{% else %}
{{ 'specialist-css.css' | asset_url | stylesheet_tag }}

<meta name="description" content="{{ page.title | escape }} in address {{ page.metafields.specialist.address }} " />

<div class="main_container">
  <div class="left_content">
   
    <h1 class="main_title">{{page.title}}</h1>
    
    {% if page.metafields.specialist.description != blank %}
    <div class="sub_title">
      {{page.metafields.specialist.description}}
    </div>
    {% endif %}
    
    <div class="left_main_content left_main_content_cls">
      <div class="left_content_title">ADDRESS</div>
	{% if page.metafields.specialist.address != blank %}
      <div class="left_content_address">
        <div class="left_content_sub_add">
        {{ page.metafields.specialist.address }}
        </div>
      </div>
       {% endif %}

      <div class="left-buttons">
        <button class="button_left">
          <a target="_blank" href="https://maps.google.com/maps?q={{page.metafields.specialist.lat}},{{page.metafields.specialist.lang}}">Get Directions</a>
        </button>
      </div>
      
<!--<div class="mapspecilist">
<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q={{ page.metafields.specialist.address }}&amp;output=embed"></iframe>
</div>-->
 {% if page.metafields.specialist.lat != blank %}    
  <div class="mapspecilist">
<!--     <iframe width="100%" height="600" frameborder="0" scrolling="no" src="https://maps.google.com/maps?q={{page.metafields.specialist.lat}},{{page.metafields.specialist.lang}}&z=14&amp;output=embed">
   </iframe> -->
    <div id="map"></div>
    
  </div> 
  {% endif %}
  </div>
    
    
{% if page.metafields.specialist.phonenumber != blank %}
	<div class="left_main_content">
      <div class="left_content_title">CONTACT</div>
      
     {% if page.metafields.specialist.phonenumber != blank %}
      <div class="left_content_address">
        <div class="left-phone">
         {{ page.metafields.specialist.phonenumber }}
		</div>
      </div>
     {% endif %}
      
      <div class="left-buttons">
        <button class="button_left"><a href="tel:{{ page.metafields.specialist.phonenumber }}">Call</a></button>
      </div>
    </div>
    {% endif %}
    
    
    {% if page.metafields.specialist.website != blank %}
    <div class="left_main_content last_left">
      <div class="left_content_title">WEBSITE</div>
       
      {% if page.metafields.specialist.website != blank %}
      {% assign tt = page.metafields.specialist.website%}
     
    {% unless tt contains 'http://' or tt contains 'https://' %}
    {% assign tt = tt | prepend : 'https://' %}
    {% endunless %}
      
      <div class="left_content_address">
         <div class="left-website">
           <a target="_blank" href="{{tt}}">{{ page.metafields.specialist.website }}</a>
        </div>
       </div>
     
    {% endif %}
	{% if page.metafields.specialist.website != blank %}
    {% assign tt = page.metafields.specialist.website%}
     
    {% unless tt contains 'http://' or tt contains 'https://' %}
     {% assign tt = tt | prepend : 'https://' %}
      {% endunless %}
        <div class="left-buttons">
          <button class="button_left"> <a target="_blank" href="{{tt}}">Visit</a></button>
       	</div>
      {% endif %}
      
      </div>
    {% endif %}
</div>
  

{% assign tt = page.metafields.specialist.website%}
  {% unless tt == blank %}
    {% unless tt contains 'http://' or tt contains 'https://' %}
      {% assign tt = tt | prepend : 'https://' %}
    {% endunless %}  
  {% else %}
        {% assign tt = '/pages/website-not-found' %}
  {% endunless %}

<div class="right_content">
  <div class="right_sub">
  <a target="_blank" class="book" data="{{page.metafields.specialist.website}}" href="{{tt}}">Book an appointment</a> 
  <div class="edit_it">See a problem?<a class="mailsent" href="javascript:void(0);">Suggest an edit</a>
  <div style="display:none;" class="img_load">
  <img loading="lazy" class="loader_img" src="https://cdn.shopify.com/s/files/1/0350/7706/2795/files/Spinner-1s-311px_1.gif?v=1627968221"/>
  </div>  
  </div>
  </div>
</div>
 
  
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  $(document).ready(function(){
  $(document).on('click','.mailsent',function(e){
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: 'https://providers.attngrace.com/shopify/apps/specialistapp/mailtest.php',
    data:{action:"send_email_action"},
    beforeSend: function() {
      $(".img_load").show();
    },
      success: function(response){
      var status = jQuery.parseJSON(response);
      console.log(status.response);
      if(status.response == false)
      { 
      	swal("", status.message, "error");
      }
      else
      {
      	swal("", status.message, "success"); 
      }
      $(".img_load").hide();
    }
  });
});
});
</script>


<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css"/>
<script type="text/javascript" src="https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.js"></script>
<script>
  
    var long =  {{page.metafields.specialist.lang | json}};
    long = parseFloat(long);
    var lat = {{page.metafields.specialist.lat | json}};
    lat =  parseFloat(lat);
	mapboxgl.accessToken = 'pk.eyJ1IjoiZGV2ZWxvcGVyZGVzaWduZXIxOCIsImEiOiJja3J6d3dtMWEwdnR3MnZtc3VkaHlycGFvIn0.7XzcgrCv6cAhbRN-WxEIaQ';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [long,lat],
        zoom: 10
    });

    map.on('load', () => {
        // Add an image to use as a custom marker
        map.loadImage(
            'https://cdn.shopify.com/s/files/1/0350/7706/2795/files/resized.png?v=1629096609',
            (error, image) => {
                if (error) throw error;
                map.addImage('resized', image);
                // Add a GeoJSON source with 2 points
                map.addSource('points', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': [
                            {
                                // feature for Mapbox DC
                                'type': 'Feature',
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [long,lat]
                                }
//                                 'properties': {
//                                     'title': 'Mapbox DC'
//                                 }
                            }
                        ]
                    }
                });

                // Add a symbol layer
                map.addLayer({
                    'id': 'points',
                    'type': 'symbol',
                    'source': 'points',
                    'layout': {
                        'icon-image': 'resized',
                        // get the title name from the source's "title" property
                        'text-field': ['get', 'title'],
                        'text-font': [
                            'Open Sans Semibold',
                            'Arial Unicode MS Bold'
                        ],
                        'text-offset': [0, 1.25],
                        'text-anchor': 'top'
                    }
                });
            }
        );
    });
// map.addControl(new mapboxgl.NavigationControl());
</script>
{% endunless %}


<!--Start - Add a condition for the different page metafield an default page -->
{% comment %}
<div class="specialist-page-data">
{% if page.metafields.specialist.address != blank %}
  
{% if page.metafields.specialist.address != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.address }}</div>
{% endif %}

{% if page.metafields.specialist.phone != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.phone }}</div>
{% endif %}
 
{% if page.metafields.specialist.website != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.website }}</div>
{% endif %}

{% if page.metafields.specialist.email != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.email }}</div>
{% endif %}
  
{% if page.metafields.specialist.tags != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.tags }}</div>
{% endif %}

{% if page.metafields.specialist.monday != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.monday }}</div>
{% endif %}
  
{% if page.metafields.specialist.tuesday != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.tuesday }}</div>
{% endif %}

{% if page.metafields.specialist.wednesday != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.wednesday }}</div>
{% endif %}
  
{% if page.metafields.specialist.thursday != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.thursday }}</div>
{% endif %}

{% if page.metafields.specialist.friday != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.friday }}</div>
{% endif %}
  
{% if page.metafields.specialist.saturday != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.saturday }}</div>
{% endif %}

{% if page.metafields.specialist.sunday != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.sunday }}</div>
{% endif %}
  
{% if page.metafields.specialist.image_url != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.image_url }}</div>
{% endif %}

{% if page.metafields.specialist.facebook != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.facebook }}</div>
{% endif %}
  
{% if page.metafields.specialist.instagram != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.instagram }}</div>
{% endif %}

{% if page.metafields.specialist.twitter != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.twitter }}</div>
{% endif %}
  
{% if page.metafields.specialist.lat != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.lat }}</div>
{% endif %}

{% if page.metafields.specialist.lng != blank %}
  <div class="specialist-data">{{ page.metafields.specialist.lng }}</div>
{% endif %}
  
{% endif %}
</div>
{% endcomment %}
<!--End - Add a condition for the different page metafield an default page -->

